@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
    font-family: Montserrat, sans-serif;
}

/* ----- Skiplink ----- */
#skippy {
    display: block;
    padding: 1em;
    color: #fff;
    background-color: #073654;
    outline: 0;
}

#skippy .skiplink-text {
    padding: .5em;
    outline: 1px dotted;
}


/* --- Provost header --- */

.header-info-extra {
    background-color: #073654;
    height: 30px;
    font-size: 0.8rem;
    -webkit-font-smoothing: antialiased;
}

.header-info-extra .nav-link
{
    font-family: 'Cardo', serif;
    font-weight: normal !important;
    line-height: 30px;
    color: #fff;
    padding: 0 1em;
    margin: 0;
    font-weight: normal !important;
}

.header-info-extra .info-phone::before {
    font-family: "FontAwesome";
    content: "\f095";
    padding-right: .2rem;
}

.header-info-extra .info-email::before {
    font-family: "FontAwesome";
    content: "\f0e0";
    padding-right: .2rem;
    -webkit-font-smoothing: antialiased;
}