{% load compress %}
{% load bootstrap4 %}
{% load static %}
{% load waffle_tags %}
{% load wagtailimages_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} -- CTL Portfolio</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/fontawesome/font-awesome.min.css">

    <!-- Local CSS -->
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css">
    {% endcompress %}
    {% block css %}{% endblock %}
    
    {% image page.thumbnail original as entry_thumbnail %}
    
{% flag "seo-meta-jsonld" %}
<!-- WAFFLE OUT SEO TAGS, till project is done -->
    <!-- Standard Meta Data -->
    <meta name="description"
        content="{% if page.search_description %}{{page.search_description}}{% else %}The CTL Portfolio showcases CTL projects and services that support excellence and innovation in teaching and learning at Columbia and beyond.{% endif %}" />
    <meta name="keywords" content="educational technology, teaching and learning, mooc, massive open online course" />
    <meta name="author" content="Center for Teaching and Learning at Columbia University" />
    <meta name="copyright" content="Copyright (c) 2022 Center for Teaching and Learning at Columbia University - Code licensed GNU GPLv3, content CC BY-SA 4.0">
    {% block entry_published_og %}{% endblock %}

    <!-- Dublin Core Metadata -->
    <meta name="DC.Title" content="{{page.title}} -- CTL Portfolio" />
    <meta name="DC.Description" content="{% if page.search_description %}{{page.search_description}}{% else %}The CTL Portfolio showcases CTL projects and services that support excellence and innovation in teaching and learning at Columbia and beyond.{% endif %}" />
    <meta name="DC.Rights" content="Copyright (c) 2022 Center for Teaching and Learning at Columbia University - Code licensed GNU GPLv3, content CC BY-SA 4.0">
    <meta name="DC.Publisher" content="Center for Teaching and Learning at Columbia University" />
    <meta name="DC.Contributor" content="Center for Teaching and Learning at Columbia University" />

    <!-- Open Graph -->
    <meta property="og:title" content="{{page.title}} -- CTL Portfolio" />
    <meta property="og:site_name" content="CTL Portfolio" />
    {% block opengraph_metadata %}
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{STATIC_URL}}img/og_ctlportfolio.png" />
    <meta property="og:image:alt" content="A poster image containing a logo, with words CTL Portfolio." />
    <meta property="og:description" content="The CTL Portfolio showcases CTL projects and services that support excellence and innovation in teaching and learning at Columbia and beyond." />
    <meta property="og:url" content="https://portfolio.ctl.columbia.edu" />
    {% endblock %}

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@columbiactl" />
    <meta name="twitter:title" content="{{page.title}} -- CTL Portfolio" />
    {% block twitter_metadata %}
    <meta name="twitter:description" content="The CTL Portfolio showcases CTL projects and services that support excellence and innovation in teaching and learning at Columbia and beyond." />
    <meta name="twitter:image" content="{{STATIC_URL}}img/og_ctlportfolio.png" />
    {% endblock %}

    {% block jsonld_values %}
    <!-- JSON Structured data: Home page -->
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://portfolio.ctl.columbia.edu/",
        "sameAs": "https://portfolio.ctl.columbia.edu/",
        "name": "CTL Portfolio",
        "alternateName": "Columbia Center for Teaching and Learning Portfolio",
        "about": "The CTL Portfolio showcases CTL projects and services that support excellence and innovation in teaching and learning at Columbia and beyond.",
        "description": "The CTL Portfolio showcases CTL projects and services that support excellence and innovation in teaching and learning at Columbia and beyond.",
        "keywords": "educational technology, teaching and learning, mooc, massive open online course",
        "publisher": {
            "@type": "EducationalOrganization",
            "url": "https://ctl.columbia.edu",
            "name": "Center for Teaching and Learning at Columbia University",
            "logo": {
                "@type": "ImageObject",
                "url": "{{STATIC_URL}}img/logo-ctl-color.png"
            }
        }
    }
    </script>
    {% endblock %}
{% endflag %}

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{{STATIC_URL}}img/apple-touch-icon.png">
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico">
    <link rel="icon" href="{{STATIC_URL}}img/favicon.ico">
    <link rel="icon" type="image/png" href="{{STATIC_URL}}img/favicon.png">

	{% block feeds %}{% endblock %}

    <!-- CU Privacy notice -->
    <link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />
    <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>
</head>
<body>


<div class="skippy">
  <div class="container p-0">
    <a class="sr-only sr-only-focusable d-inline-block p-2 m-1" href="#maincontent">Skip to main content</a>
  </div>
</div>

    {% include "main/includes/header_institution.html" %}


    <header class="container p-0 py-3 px-0 {% block page_class %}{% endblock %}">
        <nav class="navbar-global">
            <a class="navbar-brand" href="/" title="Go to CTL Portfolio home">
                <img src="{{STATIC_URL}}img/logo-portfolio.svg" alt="Go to CTL Portfolio home">
            </a>
            <div class="nav-menu d-flex">
                <ul class="nav">
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/our-work/">Our Work</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/about/">About</a>
                    </li>
                </ul>
                <form class="form-inline portfolio-search ml-3" action="/our-work/">
                    <input class="form-control search-box mr-sm-2" type="search" placeholder="Search Portfolio" aria-label="Search" name="q" />
                    <input type="submit" style="display: none" />
                </form>
            </div>
        </nav>
    </header>

    <main class="container bg-white p-0" id="maincontent">

    {% block content %}{% endblock %}

    </main>

    {% include "main/includes/footer.html" %}

{% if request.user.is_authenticated %}
    {% if not request.is_preview %}
        <!-- Background for Wagtail Editor widget -->
        <div class="wagtail-widget wagtail-widget__editor row" role="presentation" aria-hidden="true">
            <div class="col-4 px-3">
                <a href="/accounts/logout/?next=/cms/" class="btn btn-warning wagtail-widget__logout">Log out</a>
            </div>
            <div class="col-4 pl-0 pr-3">
                <a href="https://wiki.ctl.columbia.edu/index.php/CTL_Portfolio_Editor_Guide" rel="nofollow noopener noreferrer" target="_blank" class="btn btn-info wagtail-widget__guide">Guide</a>
            </div>
            <div class="col-4 pl-0">
                <div class="wagtail-widget__label">
                CMS
                </div>
            </div>
        </div>
    {% else %}
        <!-- Background for Wagtail Preview widget -->
        <div class="wagtail-widget wagtail-widget__preview row" role="presentation" aria-hidden="true">
            <div class="col-8 pr-0">
                <div class="wagtail-widget__preview-label">This is a preview</div>
            </div>
            <div class="col-4 pr-0">
                <div class="wagtail-widget__preview-icon"></div>
            </div>
        </div>
    {% endif %}
{% endif %}


{% comment %}
    
    <div class="d-inline-block mt-2 float-left">Edit
    
    
    </div>
    <br />
    <span class="small">(<a href="" target="_blank" class="text-white">Editor's guide</a>)</span>

{% endcomment %}


<script src="{{STATIC_URL}}js/lib/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script
     data-main="{{STATIC_URL}}js/src/main.js"
     src="{{STATIC_URL}}js/lib/require/require.js"></script>


{% block js %}{% endblock %}

{% if GA_CODE %}
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('set', 'anonymizeIp', true);
  ga('create', '{{GA_CODE}}', 'columbia.edu');
  ga('send', 'pageview');
</script>
{% endif %}
</body>
</html>
