{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CTL Portfolio: {% block title %}{% endblock %}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css"
        integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU"
        crossorigin="anonymous">

    <!-- Local CSS -->
    {% compress css %}
    <link href="{{STATIC_URL}}css/main.css" rel="stylesheet">
    {% endcompress %}
    {% block css %}{% endblock %}
    

    <!-- Standard Meta Data -->
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="copyright" content="">

    <!-- Dublin Core Metadata -->
    <meta name="DC.Title" content="CTL Portfolio: : Title" />
    <meta name="DC.Description" content="" />

    <!-- Open Graph -->
    <meta property="og:title" content="CTL Portfolio: : Title" />
    <meta property="og:type" content="" />
    <meta property="og:image" 
          content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="CTL Portfolio: : Title" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ccnmtl" />
    <meta name="twitter:title" content="CTL Portfolio: Title" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="{{STATIC_URL}}img/favicon.png" />

    <!-- JSON Structured data -->
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "url",
        "name": "title",
        "about": "description",
        "keywords": "keywords here"
    }
    </script>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{{STATIC_URL}}img/apple-touch-icon.png">
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico">
    <link rel="icon" href="{{STATIC_URL}}img/favicon.ico">
    <link rel="icon" type="image/png" href="{{STATIC_URL}}img/favicon.png">

	{% block feeds %}{% endblock %}
</head>
<body>

<a id="skippy" class="sr-only sr-only-focusable" href="#content">
    <div class="container">
        <span class="skiplink-text">Skip to main content</span>
    </div>
</a>

<header>
    <!-- Provost header -->
    <div class="header-info-extra">
        <div class="container">
            <ul class="nav info-provost float-left" role="complementary">
                <li class="nav-item">
                <a class="nav-link" href="#">COLUMBIA UNIVERSITY IN THE CITY OF NEW YORK</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">OFFICE <em>of the</em> PROVOST</a>
                </li>
            </ul>
            <ul class="nav info-ctl float-right" role="complementary">
                <li class="nav-item">
                <span class="nav-link info-phone"><span class="sr-only">CTL telephone number:</span>1-212-854-1692</span>
                </li>
                <li class="nav-item"><span class="sr-only">CTL email:</span>
                <a class="nav-link info-email" href="#">ColumbiaCTL@columbia.edu</a>
                </li>
            </ul>
        </div>
    </div>

</header>


<script src="{{STATIC_URL}}js/lib/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script
     data-main="{{STATIC_URL}}js/src/main.js"
     src="{{STATIC_URL}}js/lib/require/require.js"></script>


{% block js %}{% endblock %}

{% if GA_CODE %}
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{GA_CODE}}', 'columbia.edu');
  ga('send', 'pageview');
</script>
{% endif %}
</body>
</html>
