    <footer role="contentinfo" class="container-fluid mt-5 p-0">
        <div class="d-none d-print-block" id="footer-logo-print">
            <div class="row" aria-hidden="true" role="presentation">
                <div class="col">
                    <img alt="" src="{{STATIC_URL}}img/print-logo-ctl.png" class="img-fluid d-inline" />
                </div>
                <div class="col">
                    <img alt="" src="{{STATIC_URL}}img/print-logo-columbia.png" class="img-fluid d-inline" />
                </div>
                <div class="col">
                    <img alt="" src="{{STATIC_URL}}img/print-logo-provost.png" class="img-fluid d-inline" />
                </div>
            </div>
        </div>
        <div class="ctl-info">
            <div class="container">
                <div class="row">
                    <div class="col-lg d-print-none">
                        <div class="mb-4 text-center text-lg-left" style="height: 2.75rem" id="footer-logo">
                            <a href="https://ctl.columbia.edu" target="_blank">
                            <img class="h-100" alt="Center for Teaching and Learning at Columbia University" src="{{STATIC_URL}}img/logo-ctl.svg" />
                            </a>
                        </div>
                        <div class="mb-4 text-center text-lg-left" style="height: 2.75rem" id="footer-logo">
                            <a href="https://www.columbia.edu" target="_blank">
                            <img class="h-100" alt="Columbia University in the City of New York" src="{{STATIC_URL}}img/logo-columbia.svg" />
                            </a>
                        </div>
                        <div class="mb-4 text-center text-lg-left" style="height: 1.375rem" id="footer-logo">
                            <a href="http://provost.columbia.edu" target="_blank">
                            <img class="h-100" alt="Office of the Provost" src="{{STATIC_URL}}img/logo-provost.svg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md mt-4 mt-lg-0 text-center text-lg-left">
                        <address>
                            <h5>Visit us</h5>
                            212 Butler Library<br />
                            535 West 114th Street<br />
                            New York, NY 10027<br />
                        </address>
                    </div>
                    <div class="col-md mt-4 mt-lg-0 text-center text-lg-left">
                        <address>
                            <h5>Contact us</h5>
                                <a href="tel:+1-212-854-1862">
                                    <span class="sr-only">Phone:</span>
                                    1-212-854-1862
                                </a>
                                <br />
                                <a href="mailto:ColumbiaCTL@columbia.edu">
                                    <span class="sr-only">Email:</span>
                                    ColumbiaCTL@columbia.edu
                                </a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </footer>
