    <aside class="navbar navbar-expand navbar-dark bg-primary flex-column flex-md-row d-print-none" id="top-institution">
        <div class="container-fluid">
            <ul class="navbar-univ navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.columbia.edu" target="_blank">COLUMBIA UNIVERSITY <span class="d-none d-sm-inline">IN THE CITY OF NEW YORK</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="provost-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">OFFICE of the PROVOST</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="provost-menu">
                        <a class="dropdown-item" href="http://provost.columbia.edu" target="_blank">Provost</a>
                        <a class="dropdown-item" href="http://provost.columbia.edu/policies/" target="_blank">University Policies</a>
                        <a class="dropdown-item" href="http://registrar.columbia.edu/calendar" target="_blank">Academic Calendar</a>
                        <a class="dropdown-item" href="https://online.columbia.edu" target="_blank">Columbia Online</a>
                        <a class="dropdown-item" href="https://vptl.columbia.edu" target="_blank">Office of the Vice Provost<br/>for Teaching and Learning</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav flex-row ml-xl-auto" id="navbar-ctl">
                <li class="nav-item">
                    <meta name="format-detection" content="telephone=no">
                    <a class="nav-link" href="tel:+1-212-854-1862">
                        <span class="sr-only">Call CTL:</span>
                        <i class="fa fa-phone" role="presentation" aria-hidden="true"></i>
                        1-212-854-1862
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mailto:ColumbiaCTL@columbia.edu">
                        <span class="sr-only">Email CTL:</span>
                        <i class="fa fa-envelope" role="presentation" aria-hidden="true"></i>
                        ColumbiaCTL@columbia.edu
                    </a>
                </li>
            </ul>
        </div>
    </aside>
