body {
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    line-height: $line-height-body;
    font-size: $font-size-base;
}

a {
    color: $link-color;
}

a:hover {
    color: $link-hover-color;
}
