.entry-header {
    position: relative;
    height: 32.875rem;
    overflow: hidden;
    background-color: #ccc;
    &--poster {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    &--text {
        position: absolute;
        width: 100%;
        z-index: 100;
        bottom: 0;
        background-color: rgba(0,0,0,.6);
        color: #fff;
        padding: 1rem;
        text-align: center;
    }
    &--partners {
        margin-top: $spacer;
    }
}

.entry-section {
    margin: 0 7rem 3rem 7rem;
    &__metadata {
        margin-top: 0.5rem;
        margin-bottom: 4rem;
        padding: 0 0 0.5rem 0;
        border-bottom: 1px solid #ddd;
        font-size: ($font-size-base * 0.875);
    }
}


.body-entry {
    &--info {
        margin-top: ($spacer * 0.5);
        dd {
            margin-bottom: ($spacer * 1.125);
        }
    }
}


.project-info {
}

