.entry-header {
    position: relative;
    height: 32.875rem;
    overflow: hidden;
    background-color: #ccc;
    &--poster {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    &--text {
        position: absolute;
        width: 100%;
        z-index: 100;
        bottom: 0;
        background-color: rgba(0,0,0,.6);
        color: #fff;
        padding: 1rem;
        text-align: center;
    }
    &--partners {
        margin-top: $spacer;
    }
}

.entry-section {
    margin: 0 9rem 3rem 9rem;
    padding: 0;
    &__metadata {
        margin: 0.5rem 0 4rem 0;
        padding: 0 0 0.5rem 0;
        border-bottom: 1px solid #ddd;
        font-size: ($font-size-base * 0.875);
    }
    &__gallery {
        max-width: 900px;
        margin: 0 auto 3rem auto;
        display: table;       
        figcaption {
            font-size: ($font-size-base * 0.875);
            color: #333;
            margin-top: 0.5rem;
        }
    }
    &__video {
        max-width: 900px;
        margin: 0 auto 3rem auto;
        .video-attribution {
            font-size: ($font-size-base * 0.875);
            color: #333;
            margin-top: 0.5rem;
            }
    }
}


.body-entry {
    &--info {
        margin-top: ($spacer * 0.5);
        dd {
            margin-bottom: ($spacer * 1.125);
        }
    }
}


.project-info {
}

