.entry-header {
    position: relative;
    overflow: hidden;
    background-color: #ccc;
    height: auto;
    padding: 0;
    &__poster {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    &__poster .img--sm {
        display: inline;
        @include media-breakpoint-up(md) {
            display: none;
        }
    }    
    &__poster .img--md {
        display: none;
        @include media-breakpoint-up(md) {
            display: inline;
        }
        @include media-breakpoint-up(lg) {
            display: none;
        }
    }    
    &__poster .img--lg {
        display: none;
        @include media-breakpoint-up(lg) {
            display: inline;
        }
        @include media-breakpoint-up(xl) {
            display: none;
        }
    }
    &__poster .img--xl {
        display: none;
        @include media-breakpoint-up(xl) {
            display: inline;
        }
    }
    &__text {
        position: relative;
        width: 100%;
        z-index: 100;
        bottom: 0;
        background-color: rgba(0,0,0,.6);
        color: #fff;
        padding: 0.5rem;
        text-align: left;
        @include media-breakpoint-up(md) {
            position: absolute;
            text-align: center;
            padding: 1rem;
        }
    }
    &__partners {
        margin-top: $spacer;
    }
    @include media-breakpoint-up(md) {
        height: 32.875rem;
    }
    @include media-breakpoint-up(lg) {
    }
    @include media-breakpoint-up(xl) {
    }
}

.entry-section {
    margin: 0 9rem 3rem 9rem;
    padding: 0;
    &__metadata {
        margin: 0.5rem 0 4rem 0;
        padding: 0 0 0.5rem 0;
        border-bottom: 1px solid #ddd;
        font-size: $font-size-base;
    }
    &__gallery {
        max-width: 900px;
        margin: 0 auto 3rem auto;
        display: table;       
        figcaption {
            font-size: ($font-size-base * 0.875);
            color: #333;
            margin-top: 0.5rem;
        }
    }
    &__video {
        max-width: 900px;
        margin: 0 auto 3rem auto;
        .video-attribution {
            font-size: ($font-size-base * 0.875);
            color: #333;
            margin-top: 0.5rem;
            }
    }
}


.body-entry {
    &--info {
        margin-top: ($spacer * 0.5);
        dd {
            margin-bottom: ($spacer * 1.125);
        }
    }
}


.project-info {
}

