//
// Top header with Columbia, Provost, CTL links
//

#header-institution {
    background-color: #f5f5f5;
    font-size: ($font-size-base * 0.825);
    font-weight: $font-weight-regular;
    padding: 0;
    height: 2rem;
    -webkit-box-shadow: 0 2px 5px 0 rgb(102 102 102 / 14%), 0 1px 5px 0 rgb(102 102 102 / 12%), 0 2px 4px -1px rgb(102 102 102 / 20%);
    box-shadow: 0 2px 5px 0 rgb(102 102 102 / 14%), 0 1px 5px 0 rgb(102 102 102 / 12%), 0 2px 4px -1px rgb(102 102 102 / 20%);
    .dropdown-menu {
        font-size: inherit;
        margin-top: 0;
        background-color: #f5f5f5;
        border-color: #f5f5f5;
        @include border-top-radius(0);
        -webkit-box-shadow: 0 3px 4px 0 rgb(102 102 102 / 14%), 0 3px 4px 0 rgb(102 102 102 / 12%), 0 3px 4px -1px rgb(102 102 102 / 20%);
        box-shadow: 0 3px 4px 0 rgb(102 102 102 / 14%), 0 3px 4px 0 rgb(102 102 102 / 12%), 0 3px 4px -1px rgb(102 102 102 / 20%);
    }
    .nav-link {
        border: 1px solid transparent;
        padding-left: $spacer;
        padding-right: $spacer;
    }
    .nav-link, .dropdown-item {
        color:  rgba($black, 1);
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
    }
    .dropdown-item {
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }
    .ctl-nav {
        margin-left: auto;
        margin-right: auto;
    }
    @include media-breakpoint-up(md) {
        .navbar-nav {
            margin-left: -$spacer;
            margin-right: -$spacer;
        }
        .ctl-nav {
            margin-left: auto;
            margin-right: -$spacer;
        }
    }
    @media print {
        display: none;
    }
}

#header-portfolio {
    background-color: $white;
    padding: 0;
}

#logo-portfolio {
    padding: 1.25rem 0 1.5rem 0;
    img {
        display: block;
        height: 35px;
        margin-right: ($spacer * .5);
        padding-right: $spacer;
        padding-left: $spacer;
        border-right: 2px solid $softblue;
        @include media-breakpoint-up(sm) {
            height: 60px;
            padding-left: 0;
        }
    }
    h1 {
        margin-bottom: 0;
        font-weight: 400;
        line-height: 35px;
        font-size: ($font-size-base * 1);
        @include media-breakpoint-up(sm) {
            line-height: 60px;
            font-size: ($font-size-base * 1.8);
        }
    }
    h1 a {
        text-decoration: none;
    }
}


.featured_poster {
    height: 350px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include media-breakpoint-up(sm) {
        height: 400px;
        width: 540px;
    }
    @include media-breakpoint-up(md) {
        height: 555px;
        width: 720px;
        background-size: auto;
    }
    @include media-breakpoint-up(lg) {
        width: 960px;
    }
    @include media-breakpoint-up(xl) {
        width: 1140px;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: $carousel-control-icon-width;
  height: $carousel-control-icon-width;
}

.carousel-control-prev-icon {
  background-image: $carousel-control-prev-icon-bg;
}

.carousel-control-next-icon {
  background-image: $carousel-control-next-icon-bg;
}

.carousel-indicators {
    li {
        width: $carousel-indicator-width;
        height: $carousel-indicator-height;
        cursor: pointer;
        margin-right: $carousel-indicator-spacer;
        margin-left: $carousel-indicator-spacer;
    }
}

.carousel-caption-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.6) 0%,rgba(0, 0, 0, 0) 100%);
    @include media-breakpoint-up(sm) {
        background-image: linear-gradient(to top,rgba(0, 0, 0, 0.6) 0%,rgba(0, 0, 0, 0) 50%);
    }
}

.carousel-caption {
    padding-bottom: 40px;
}

.intro-blurb {
    margin: 3em 1rem;
    @include media-breakpoint-up(md) {
        width: 90%;
        margin: 3em auto;
    }
    @include media-breakpoint-up(lg) {
        width: 70%;
    }
}

/*.entry-header {
    margin: 0 -15px;
    .entry-poster {
        margin: 0;
        min-height: 9rem;
    }
}

 .entry-body {
    margin-top: $spacer;
    section {
        padding-left: 0;
        padding-right: 0;
    }
    @include media-breakpoint-up(md) {
        margin-top: -4.5rem;       
        section {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
    @include media-breakpoint-up(lg) {
        margin-top: -5.875rem;       
    }
    @include media-breakpoint-up(xl) {
        margin-top: -6.875rem;       
    }
}*/

.headline {
    height: auto;
    background-color: $white;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: $spacer;
    @include media-breakpoint-up(md) {
        height: 5.875rem;       
        margin-bottom: 0;
    }
    @include media-breakpoint-up(xl) {
        height: 6.875rem;       
    }
}

.overview {
    margin-bottom: 2rem;
}

.getintouch {
    background-color: #ddd;
}

.ctl-info {
    background-color: #222;
    padding: 2rem 0.5rem;
    @include media-breakpoint-up(lg) {
        padding: 3rem 0.5rem;
    }
}

.portfolio-cards {
    margin-top: ($spacer * 2.75);
    h2 {
        margin: 0 0 2rem 0;
        padding: 0;
    }
    .entry-thumbnail {
        border: 1px solid #ccc;
        border-radius: 0;
        display: block;
    }
    .card-title {
        margin-bottom: ($spacer * 0.3);
    }
    .link-to-all {
        display: block;
        margin: ($spacer * 2.5) auto ($spacer * 6) auto;
        text-align: center;
        width: 12rem;
        background-color: $softblue;
    }
    .link-to-all:hover {
        background-color: $link-hover-color;
    }
    .link-to-all a {
        display: block;
        padding: $spacer;
        text-align: center;
    }
}

.page-title {
    margin-top: ($spacer * 2);
}

.sort-menu {
    h3 {
        padding: .5rem 1rem;
        margin: 0;
    }
    @include media-breakpoint-down(xs) {
        ul {
                margin-left: $spacer;
                margin-right: $spacer;
                border-bottom: 1px solid $gray-200;
            }
    }
}

.col-404-img,
.col-404-img-txt {
    margin: 0;
    padding: 0;
}
