@media print {
    #header-institution {
        display: none;
        visibility: hidden;
    }
    #cu-privacy-notice {
        display: none !important;
        visibility: hidden !important;
    }
    a {
        color: #000 !important;
        text-decoration: none !important;
    }
    .navbar-global {
        justify-content: center;
        border-bottom: 1px solid #e0e0e0;
    }
    #logo-portfolio {
        justify-content: center;
    }
    .nav-menu {
        display: none !important;
        visibility: hidden !important;
    }
	.entry-toolbar {
	    .share-widget,
	    .fa {
	        display: none;
	    }
	    a::after {
	        content:":\A " attr(href) " ";
	        white-space: pre;
	    }
	}
	footer {
	    border-top: 1px solid #ccc;
	    * {
	        color: #000 !important;
	    }
	}
	.ctl-info {
	    page-break-inside: avoid !important;
	}
	.entry-section__partner,
	img,
	.entry-section__gallery figure img,
	.img-avatar__image {
        page-break-before: auto !important;
        page-break-after: auto !important;
	    page-break-inside: avoid !important;
	}
    .entry-header {
        height: 32.875rem;
        &__poster .img--sm,
        &__poster .img--md,
        &__poster .img--lg {
            display: none;
            visibility: hidden;
        }
        &__poster .img--xl {
            display: inline !important;
            max-width: 100% !important;
            height: auto !important;
        }
        &__text {
            -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
                position: absolute;
                text-align: center;
                padding: 1rem;
                color: #fff;
                background-color: rgba(0,0,0,.6);
        }
    }
}