//
// Google Font import
//
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');


//
// Colors
//

$darkblue:          #000d74;
$lightblue:         #769ac5;
$softblue:          #99ccff;
$wagtail-primary:   #007d7e;

//
// Typography
//

$font-family-sans-serif-primary: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-sans-serif-secondary: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-weight-light:     300 !default;
$font-weight-regular:   400 !default;
$font-weight-medium:    500 !default;
$font-weight-semibold:  600 !default;
$font-weight-bold:      700 !default;

$font-family-base: $font-family-sans-serif-primary;
$font-weight-base: $font-weight-light;

$line-height-body: ($line-height-base * 1.084) !default;

// Links
//
// Style anchor elements.

$link-color:                #0071eb;
$link-hover-color:          #2c6bac;

$focus-border-color:        #80bdff;
$focus-shadow:              0 0 0 0.2rem rgb(0 123 255 / 25%);

$lead-font-size:            ($font-size-base * 1.5);
$lead-font-weight:          400;
