#wagtail-editor {
    position: fixed;
    bottom: 1.5em;
    right: 1.7em;
    height: 70px;
    margin: 0;
    background-color: $info;
    width: 320px;
    color: $white;
    border-radius: 35px;
    z-index: 200;
    @media print {
        display: none;
    }
    #preview {
        height: 56px;
        width: 56px;
        border-radius: 50%;
        margin: 6px;
    }
}