//
// Top header with Columbia and Provost links
//

#top-institution {
    background-color: $darkblue;
    font-family: $cardo;
    font-size: 0.75rem;
    padding: 0;
    .dropdown-menu {
        font-size: 0.9rem;
        margin-top: 0;
        background-color: $darkblue;
        border-color: $darkblue;
        @include border-top-radius(0);
    }
    .nav-link, .dropdown-item {
        color:  rgba($white, 1);
        padding-bottom: 0.3rem;
        padding-top: 0.3rem;
    }
    .nav-link:hover, .dropdown-item:hover {
        text-decoration: underline;
    }
    .dropdown-item:hover {
        background-color: #0046A6;
    }
    @media print {
        display: none;
    }
}

#header-portfolio {
    background-color: $white;
    padding: 0;
    @media print {
        display: none;
    }
}

#logo-portfolio {
    padding: $spacer 0 0 0;
    img {
        display: block;
        height: 80px;
        margin-right: ($spacer * .5);
    }
    h1 {
        font-weight: 400;
        line-height: 80px;
    }
    h1 a {
        text-decoration: none;
    }
}

#navbar-portfolio {
    padding-top: 0;
    .nav-link {
        font-weight: 500;
        font-size: 1.2rem;
        color: $black;
        text-transform: uppercase;
    }
}