#login-logo-portfolio {
    margin: 5rem 0 0 0;
    padding: 2rem 0;
    img {
        height: 70px;
        margin: 0 auto .5rem auto;
        padding: 0 0 1rem 0;
        border-right: 0;
        border-bottom: 1px solid $softblue;
        @include media-breakpoint-up(sm) {
            height: 100px;
            padding-left: 0;
        }
    }
    h1 {
        margin-bottom: 0;
        font-weight: 400;
        line-height: 35px;
        font-size: ($font-size-base * 1.5);
        color: $link-color;
        @include media-breakpoint-up(sm) {
            line-height: 60px;
            font-size: ($font-size-base * 1.8);
        }
    }
}

#login-navbar-portfolio {
    padding-top: 0.5rem;
    .nav-link {
        font-weight: 500;
        font-size: $font-size-base;
        color: $black;
        text-transform: uppercase;
    }
}
