.field-label {
    font-weight: 600;
}

.entry-toolbar {
    a {
        font-weight: 500;
    }
}

.overview {
    font-size: ($lead-font-size * 0.85);
    font-weight: $lead-font-weight;
    line-height: 1.4;
    @include media-breakpoint-up(lg) {
        font-size: $lead-font-size;
    }
}

.getintouch {
    h2 {
        font-size: ($font-size-base * 1.5);
        font-weight: 400;
        @include media-breakpoint-up(lg) {
            font-size: $h2-font-size;
        }
    }
}

.ctl-info {
    color: #ccc;
}

.portfolio-cards {
    h2 {
        font-size: ($font-size-base * 2.875);
        font-weight: 400;
        text-align: center;
    }
    .card-title {
        font-size: ($font-size-base * 1);
        font-weight: 500;
        line-height: 1.4;
    }
    .link-to-all, .link-to-all a {
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
    }
}

.carousel-caption {
    .entry-title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: ($font-size-base * 1);
        text-shadow: 2px 2px 5px rgba(0,0,0,0.9);
    }
    p {
        font-size: ($h4-font-size * 1.2);
        font-weight: 500;
        text-shadow: 1px 1px 5px rgba(0,0,0,1);
        line-height: 1.2;
    }
}