@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

//
// Colors
//

$darkblue:          #000d74;
$lightblue:         #769ac5;
$softblue:          #99ccff;

//
// Fonts
//

$cardo:             'Cardo';

$font-family-base: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Links
//
// Style anchor elements.

$link-color:                #008ee0;
$link-hover-color:          #2c6bac;

$lead-font-size:            ($font-size-base * 1.5);
$lead-font-weight:          400;