{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailuserbar %}

{% block title %}{{page.title}}{% endblock %}

{% block entry_published_og %}
<meta property="article:published_time" content="{{page.first_published_at|date:"Y-m-d"}}" />
<meta property="article:modified_time" content="{{page.last_published_at|date:"Y-m-d"}}" />
{% endblock %}

{% block entry_jsonld %}
    <!-- JSON Structured data: Entry/Article specific -->
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Article",
        "name": "{{page.title}} -- CTL Portfolio",
        "description": "{{page.search_description}}",
        "url": "url",
        "mainEntityOfPage": "url",
        "headline": "{{page.title}}",
        "datePublished": "{{page.first_published_at|date:"Y-m-d"}}",
        "dateModified": "{{page.last_published_at|date:"Y-m-d"}}",
        "dateCreated": "CCYY-MM-DD",
        "author": "Center for Teaching and Learning at Columbia University",
        "publisher": {
            "@type": "EducationalOrganization",
            "url": "https://ctl.columbia.edu",
            "name": "Center for Teaching and Learning at Columbia University",
            "logo": {
                "@type": "ImageObject",
                "url": "ctl logo url"
            }
        }
        "image": {
            "@type": "ImageObject",
            "representativeOfPage": "True",
            "url": "url of thumbnail"
        }
    }
    </script>
{% endblock %}

{% block content %}

{% wagtailuserbar %}

<dl>
    <dt>Entry title:</dt>
    <dd class="border-bottom">{{page.title}}</dd>

    <dt>Entry ID:</dt>
    <dd>{{page.id}}</dd>

    <dt>Entry first published:</dt>
    <dd>{{page.first_published_at|date:"Y-m-d"}}</dd>

     <dt>Entry last published:</dt>
    <dd>{{page.last_published_at|date:"Y-m-d"}}</dd>

   <dt>Entry overview:</dt>
    <dd>{{page.overview}}</dd>

   <dt>Entry search description:</dt>
    <dd>{{page.search_description}}</dd>

    {% if page.thumbnail %}
   {% image page.thumbnail original as entry_thumbnail %}
    <dt>Entry thumbnail:</dt>
    <dd>{{ entry_thumbnail.url }}</dd>
    {% endif %}

    {% if page.poster %}
    {% image page.poster original as entry_poster %}
    <dt>Entry poster:</dt>
    <dd>{{ entry_poster.url }}</dd>
    {% endif %}


    <dt>Entry description:</dt>
    <dd>{{page.description|richtext}}</dd>


    <dt>Partner:</dt>
    <dd>
{% with partners=page.partners.all %}
    {% if partners %}
        <ul>
            {% for partner in partners %}
                <li>
                    {{ partner.name }},
                    {{ partner.short_title }},
                    {{ partner.affiliation }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}    
    </dd>

    <dt>Project affiliation</dt>
    <dd>{{ page.affiliation }}</dd>

</dl>

{% endblock %}
