{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailuserbar %}

{% block title %}{{page.title}}{% endblock %}

{% block entry_published_og %}
<meta property="article:published_time" content="{{page.first_published_at|date:"Y-m-d"}}" />
<meta property="article:modified_time" content="{{page.last_published_at|date:"Y-m-d"}}" />
{% endblock %}

{% block entry_jsonld %}
    <!-- JSON Structured data: Entry/Article specific -->
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Article",
        "name": "{{page.title}} -- CTL Portfolio",
        "description": "{{page.search_description}}",
        "url": "url",
        "mainEntityOfPage": "url",
        "headline": "{{page.title}}",
        "datePublished": "{{page.first_published_at|date:"Y-m-d"}}",
        "dateModified": "{{page.last_published_at|date:"Y-m-d"}}",
        "dateCreated": "CCYY-MM-DD",
        "author": "Center for Teaching and Learning at Columbia University",
        "publisher": {
            "@type": "EducationalOrganization",
            "url": "https://ctl.columbia.edu",
            "name": "Center for Teaching and Learning at Columbia University",
            "logo": {
                "@type": "ImageObject",
                "url": "{{STATIC_URL}}img/logo-ctl-color.png"
            }
        }
        "image": {
            "@type": "ImageObject",
            "representativeOfPage": "True",
        {% if page.thumbnail %}
            "url": "{{ entry_thumbnail.url }}"
        {% else %}
            "url": "{{STATIC_URL}}img/og_ctlportfolio.png"
        {% endif %}
        }
    }
    </script>
{% endblock %}

{% block content %}

{% wagtailuserbar %}

<article class="entry">
    <header class="header-entry">
        <figure class="header-entry--poster">
            {% image page.poster original class="img-fluid" alt="Poster image for ..." %}
        </figure>
        <div class="header-entry--text">
            <h1>{{page.title}}</h1>
            <section class="header-entry--partners">
                <dl class="text-center m-0">
                {% with partners=page.partners.all %}
                    {% if partners %}
                    <dt class="field-label">
                    Partner{{ partners|pluralize }}
                    </dt>
                    <dd>
                        {% for partner in partners %}
                            {{ partner.name }},
                            {{ partner.short_title }},
                            {{ partner.affiliation }}{% if not forloop.last %}<br />{% endif %}
                        {% endfor %}
                    </dd>
                    {% endif %}
                {% endwith %}
                </dl>
            </section>
        </div>
    </header>
    <div class="row body-entry">
        <div class="col-12 col-md-10 offset-md-1">

            <section class="body-entry--info">
            </section>
            
            <section class="border-bottom py-1 mb-5">
                <div class="row px-0">
                    <div class="col-4 text-nowrap py-2">
                    {% with disciplines=page.discipline.all %}
                        {% if disciplines %}
                        <span class="field-label">Discipline{{ disciplines|pluralize }}:</span>
                        {% for discipline in disciplines %}
                            {{ discipline.name }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                        {% endif %}
                    {% endwith %}<br />
                        <span class="field-label">Released:</span> {{page.release_date|date:"F Y"}}<br/>
                        <span class="field-label">Updated:</span> {{page.revision_date|date:"F Y"}}
                    </div>
                    <div class="col-4 text-nowrap py-2">
                        <span class="field-label">Project type:</span> {{page.project_type.name}}<br/>
                        <span class="field-label">Award:</span> {{page.award_type}}
                   
                    </div>
                    <div class="col-4 text-nowrap py-2">
                    {% if page.project_url %}
                        <a href="{{ page.project_url }}" target="_blank">
                        Visit the site
                        <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a><br />
                    {% endif %}
                    {% if page.infosheet %}
                        <a href="{{ page.infosheet.url }}" target="_blank">
                        Infosheet 
                        <i class="fa fa-download" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                    <div class="share-widget">
                        <span class="field-label">Share:</span>
                        <a rel="nofollow" class="share-window" href="http://www.facebook.com/share.php?u={{ page.full_url }}&title={{ page.title }}" aria-label="Share on Facebook"><i class="fa fa-facebook px-1" aria-hidden="true"></i></a>
                        <a rel="nofollow" class="share-window" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.full_url }}&via=ColumbiaCTL" aria-label="Share on Twitter"><i class="fa fa-twitter px-1" aria-hidden="true"></i></a>
                        <a rel="nofollow" class="share-window" href="https://plus.google.com/share?url={{ page.full_url }}" aria-label="Share on Google+"><i class="fa fa-google-plus px-1" aria-hidden="true"></i></a>
                    </div>
                    </div>
                </div>
            </section>


            {% if page.overview %}
            <section class="overview">
            <p>{{page.overview}}</p>
            </section>
            {% endif %}

            <section class="description mb-5">
            {{page.description|richtext}}
            </section>

            <section class="promotional-video mb-5 mx-5">
            <div class="video-player embed-responsive embed-responsive-16by9 d-print-none">
            <iframe src='{{page.video_url}}' 
                title='{{page.video_title}}'
                allowfullscreen
                frameborder="0"
                class="embed-responsive-item">
            </iframe>
            </div>
        <p class="video-attr d-print-none"> Source: Columbia University</p>

<div class="d-none d-print-block print-alert">
<p>This segment of the page contains a video, “{{page.video_title}}”.
The link to this video  is:<br />
{{page.video_url}}</p>
<p class="video-attr"> Source: Columbia University</p>
</div>

            
            
            </section>
            
            {% comment %}
            <iframe width="560" height="315" src="https://www.youtube.com/embed/w8Xb00w9VDI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endcomment %}
            <section class="partners mb-5">
                {% with partners=page.partners.all %}
                    {% if partners %}
                    <dt class="field-label">
                    Partner{{ partners|pluralize }}
                    </dt>
                    <dd>
                        {% for partner in partners %}
                            {% image partner.headshot fill-100x100-c100 %}
                            {{ partner.name }},
                            {{ partner.full_title }},
                            {{ partner.affiliation }}{% if not forloop.last %}<br />{% endif %}
                        {% endfor %}
                    </dd>
                    {% endif %}
                {% endwith %}
            
            </section>

        </div>
    </div>
</article>

{% endblock %}
{% block js %}
<script src="{{STATIC_URL}}js/socmedia.js"></script>
{% endblock %}