{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block title %}{{page.title}}{% endblock %}

{% block content %}

<dl>
    <dt>Entry title:</dt>
    <dd>{{page.title}}</dd>

    <dt>Entry ID:</dt>
    <dd>{{page.id}}</dd>

    <dt>Entry description:</dt>
    <dd>{{page.description|richtext}}</dd>

    <dt>Partner:</dt>
    <dd>
{% with partners=page.partners.all %}
    {% if partners %}
        <ul>
            {% for partner in partners %}
                <li>
                    {{ partner.name }},
                    {{ partner.short_title }},
                    {{ partner.affiliation }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}    
    
    
    </dd>

</dl>




{% endblock %}
