{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailuserbar %}

{% block body_class %}template-homepage{% endblock %}

{% block title %}{{ page.title }}{% endblock %}

    {% block featured_banner %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Banner placeholder</h1>
            <!-- Login modal -->
{% block loginbox %}
{% if request.user.is_anonymous %}
            <button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#loginmodal">
              Log in
            </button>
            <!-- Modal -->
            <div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="LoginModalLabel">Choose a log in option</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {% if CAS_BASE %}
                        <form method="get" action="{{ CAS_BASE }}cas/login">
                        {% csrf_token %}
                        <input type="hidden" name="destination" value="https://{{ request.get_host }}/accounts/caslogin/?next={{ request.get_full_path|urlencode }}" />
                        <h6>If you have a Columbia University Network ID (UNI)...</h6>
                        <input class="btn btn-primary" type="submit" value="Columbia Log In" />
                        </form>
                    {% endif %}
                    <p class="mt-2"><a href="http://cuit.columbia.edu/cuit/manage-my-uni" title="Learn more about UNI" target="_blank">What is a UNI?</a></p>
                    <!-- End UNI LOG IN -->
                    {% if login_form.errors %}
                    <p class="text-danger">
                        <span>
                            <b>ERROR:</b> Invalid username or password.
                        </span>
                        Please try again. Note that both username and password are case-sensitive.
                    </p>
                    {% endif %}
                    <hr />
                    <h6>If you have a guest account...</h6>
                    <form id="login-local" name="login_local" method="post" action="/accounts/login/">
                        {% csrf_token %}
                        <div class="login-local-form" {% if not login_form.errors %}style="display: none"{% endif %}>
                            <div class="form-group">
                                <label for="id_username">Username:</label>
                                {{ login_form.username }}
                            </div><!-- form-group -->
                
                            <div class="form-group">
                                <label for="id_password">Password:</label>
                                {{ login_form.password }}
                            </div><!-- form-group -->
                        </div>      
                        <input class="btn btn-primary" type="button" value="Guest Log In" {% if login_form.errors %}style="display: none"{% endif %}
                            onclick="jQuery('.login-local-form').show(); jQuery(this).hide(); return false;"/>
                        <input class="btn btn-primary login-local-form" type="submit" value="Log In" {% if not login_form.errors %}style="display: none;"{% endif %} />                        
                        <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                    </form>
                    <p class="mt-2"><a href="/registration/register/" title="Create your new project account">Need a new account?</a></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
{% endif %}
{% endblock %}

        </div>
    </section>
    {% endblock %}
{% block content %}
{% wagtailuserbar %}

    {{ page.body|richtext }}

<h2>Indexes</h2>
    {% for post in page.get_children %}
        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
    {% endfor %}

<hr />

    {% if page.entries %}
    <h2>Entry</h2>
        {% for entry in page.entries %}
            <h2><a href="{% pageurl entry %}">{{entry.title}}</a></h2>
        {% endfor %}
    {% endif %}

{% if not request.user.is_anonymous %}
<hr />

<p class="lead text-center"><a href="cms/">Wagtail CMS</a></p>
{% endif %}


{% endblock %}