{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailuserbar %}
{% load wagtailimages_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
{% wagtailuserbar %}
    {% with featured_entries=page.featured_entries %}
        {% if featured_entries %}
        <section id="portfolio-feature container">
            <div class="row border border-primary">
                {% for featured_entry in featured_entries %}
                <div class="col-4 border border-secondary" style="height: 30rem;">
                {{featured_entry.title}}<br />{{featured_entry.feature_blurb}}<br />
                <a href="{% pageurl featured_entry %}" class="btn btn-light btn-sm rounded-0 mb-2">Learn more</a>
                </div>
                {% endfor %}
            </div>
        {% comment %}
            <div id="featureCarouselIndicators" class="carousel slide" data-ride="carousel" data-interval="7000" role="presentation" aria-hidden="true">
                <ol class="carousel-indicators">
                {% for featured_entry in featured_entries %}
                    <li data-target="#featureCarouselIndicators" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif%}"></li>
                {% endfor %}
                </ol>
                <div class="carousel-inner">
                {% for featured_entry in featured_entries %}
                    <div class="carousel-item{% if forloop.first %} active{% endif%}">
                        {% image featured_entry.poster original as featured_entry_photo %}
                        <div class="featured_poster" style="background-image: url('{{featured_entry_photo.url}}')"></div>
                       <div class="carousel-caption-overlay h-100 w-100"></div>
                        <div class="carousel-caption">
                            <div class="entry-title">{{featured_entry.title}}</div>
                            <p>{{featured_entry.feature_blurb}}</p>
                            <a href="{% pageurl featured_entry %}" class="btn btn-light btn-sm rounded-0 mb-2">Learn more</a>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#featureCarouselIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#featureCarouselIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        {% endcomment %}
        </section>


        <section id="portfolio-feature-sr" class="sr-only sr-only-focusable">
        <h2>Featured collaborations</h2>
        <ul>
        {% for featured_entry in featured_entries %}
            <li>
            <a href="{% pageurl featured_entry %}">{{featured_entry.title}}</a>, {{featured_entry.feature_blurb}}
            </li>
        {% endfor %}
        </ul>
        </section>
        {% endif %}
    {% endwith %}

        <section class="intro-blurb">
            {{ page.body|richtext }}
        </section>

        {% if page.entries %}
        <section class="container px-4 px-sm-3 portfolio-cards">
            <h2>Our recent work</h2>
            <div class="row">
                {% for entry in page.entries %}
                <div class="col-md-6 col-lg-4">
                    <div class="card mb-4 border-0">
                        <a href="{% pageurl entry %}">
                        {% if entry.thumbnail %}
                        {% image entry.thumbnail original class="entry-thumbnail card-img-top img-fluid" aria-hidden="true" alt="" %}
                        {% else %}
                        <img src="{{STATIC_URL}}img/og_ctlportfolio.png" class="entry-thumbnail card-img-top img-fluid" aria-hidden="true" alt="" />
                        {% endif %}
                        </a>
                        <div class="card-body px-0 py-3 px-sm-3">
                            <h5 class="card-title"><a href="{% pageurl entry %}">{{entry.title}}</a></h5>
                            <p class="card-text">Entry search description TBD</p>
                        </div>
                    </div>
                </div>
                 {% endfor %}
            </div>
            <div class="link-to-all"><a href="/our-work/">view all work</a></div>
        </section>
        {% endif %}
{% endblock %}
