{% extends 'base.html' %}
{% block title %}Home{% endblock %}

    {% block featured_banner %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Banner placeholder</h1>
            <!-- Login modal -->
{% block loginbox %}
{% if request.user.is_anonymous %}
            <button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#loginmodal">
              Log in
            </button>
            <!-- Modal -->
            <div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="LoginModalLabel">Choose a log in option</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {% if CAS_BASE %}
                        <form method="get" action="{{ CAS_BASE }}cas/login">
                        {% csrf_token %}
                        <input type="hidden" name="destination" value="https://{{ request.get_host }}/accounts/caslogin/?next={{ request.get_full_path|urlencode }}" />
                        <h6>If you have a Columbia University Network ID (UNI)...</h6>
                        <input class="btn btn-primary" type="submit" value="Columbia Log In" />
                        </form>
                    {% endif %}
                    <p class="mt-2"><a href="http://cuit.columbia.edu/cuit/manage-my-uni" title="Learn more about UNI" target="_blank">What is a UNI?</a></p>
                    <!-- End UNI LOG IN -->
                    {% if login_form.errors %}
                    <p class="text-danger">
                        <span>
                            <b>ERROR:</b> Invalid username or password.
                        </span>
                        Please try again. Note that both username and password are case-sensitive.
                    </p>
                    {% endif %}
                    <hr />
                    <h6>If you have a guest account...</h6>
                    <form id="login-local" name="login_local" method="post" action="/accounts/login/">
                        {% csrf_token %}
                        <div class="login-local-form" {% if not login_form.errors %}style="display: none"{% endif %}>
                            <div class="form-group">
                                <label for="id_username">Username:</label>
                                {{ login_form.username }}
                            </div><!-- form-group -->
                
                            <div class="form-group">
                                <label for="id_password">Password:</label>
                                {{ login_form.password }}
                            </div><!-- form-group -->
                        </div>      
                        <input class="btn btn-primary" type="button" value="Guest Log In" {% if login_form.errors %}style="display: none"{% endif %}
                            onclick="jQuery('.login-local-form').show(); jQuery(this).hide(); return false;"/>
                        <input class="btn btn-primary login-local-form" type="submit" value="Log In" {% if not login_form.errors %}style="display: none;"{% endif %} />                        
                        <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                    </form>
                    <p class="mt-2"><a href="/registration/register/" title="Create your new project account">Need a new account?</a></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
{% endif %}
{% endblock %}

        </div>
    </section>
    {% endblock %}

{% block content %}
<div class="alert alert-success">
<h1>It works</h1>
<p>Congratulations! Now start coding.</p>
{% if not request.user.is_anonymous %}
{% endif %}
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non urna sed odio placerat condimentum. Morbi mauris magna, malesuada ut tellus nec, vulputate placerat neque. Donec quis lobortis est. Nunc quis massa nec augue pulvinar pretium a id dui. Proin nec ornare enim. In commodo pretium ex ac tempus. Phasellus tristique vel est nec mattis.</p>
<p>Mauris et dolor vitae dolor ullamcorper elementum eu eget turpis. Integer cursus pharetra odio, eu rutrum velit facilisis sit amet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam sagittis fermentum justo ut fermentum. Aliquam eu tincidunt lacus. Nullam sit amet elit ac lectus volutpat efficitur. Maecenas dapibus mauris at felis cursus convallis.</p>

{% endblock %}
