{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailuserbar %}
{% block title %}{{ page.title }}{% endblock %}

{% block page_class %}visualindex{% endblock %}


{% block content %}
{% wagtailuserbar %}

    <h1 class="page-title">{{ page.title }}</h1>

    <div class="sort-menu d-flex flex-column flex-lg-row justify-content-between">
        <div class="d-flex flex-column flex-md-row">
            <div class="mr-0 mr-md-5">
                <form action='.?/sort={{sort}}'>
                    <div class="input-group">
                      <input name="q" type="text" class="form-control search-box" aria-label="Search CTL Portfolio" placeholder="Search Portfolio"
                        aria-describedby="search-entries" {% if q %}value="{{q}}"{% endif %}>
                      <div class="input-group-append">
                        <button class="btn btn-primary btn-search-box" type="submit" id="search-entries">
                            Go
                        </button>
                      </div>
                    </div>
                </form>
            </div>
            <div class="d-flex flex-row mt-2 mt-md-0">
                <div class="sort-by-label">Sort by:</div>
                <ul class="nav d-flex flex-row">
                    <li class="nav-item align-self-center
                    {% if sort == 'releasedate' %}
                    active
                    {% endif %}
                    ">
                    <a class="nav-link" href="/{{ page.slug }}/?sort=releasedate&q={{q}}">Release date </a>
                    </li>
                    <li class="nav-item align-self-center
                    {% if sort != 'releasedate' %}
                    active
                    {% endif %}
                    ">
                    <a class="nav-link" href="/{{ page.slug }}/?sort=alphabetical&q={{q}}">Alphabetical</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="align-self-start align-self-lg-center mt-5 mt-lg-0">
            <a href="/index-listing/" class="align-middle h3"><i class="fa fa-list mr-2" aria-hidden="true"></i> View textual index</a>
        </div>
        
    </div>


        {% if entries %}
        <section class="container px-4 px-sm-3 portfolio-cards">
            <div class="row">
                {% for post in entries %}
                    {% with post=post.specific %}
                <div class="col-md-6 mb-3">
                    <div class="card mb-4 border-0 px-4">
                        <a href="{% pageurl post %}">
                        {% if post.thumbnail %}
                        {% image post.thumbnail original class="entry-thumbnail card-img-top img-fluid" aria-hidden="true" alt="" %}
                        {% else %}
                        <img src="{{STATIC_URL}}img/og_ctlportfolio.png" class="entry-thumbnail card-img-top img-fluid" aria-hidden="true" alt="" />
                        {% endif %}
                        </a>
                        <div class="card-body px-0 py-3 px-sm-3">
                            <h5 class="card-title"><a href="{% pageurl post %}">{{post.title}}</a></h5>
                            {% if post.search_description %}
                                <p class="card-text">{{post.search_description}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                    {% endwith %}
                 {% endfor %}
            </div>
        </section>

        <nav aria-label="Visual index navigation" >
            <ul class="pagination justify-content-center mb-0 mt-2 py-5">
                {% if entries.has_previous %}
                <li class="page-item">
                <a class="page-link" href="?sort={{ sort }}&page={{ entries.previous_page_number }}&q={{q}}" tabindex="-1">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                {% endif %}
                {% for page_num in entries.paginator.page_range %}
                <li class="page-item {% if page_num == entries.number %} active{% endif %}">
                    <a class="page-link" href="?sort={{ sort }}&page={{ page_num }}&q={{q}}">{{ page_num }}</a>
                </li>
                {% endfor %}
                {% if entries.has_next %}
                <li class="page-item">
                <a class="page-link" href="?sort={{ sort }}&page={{ entries.next_page_number }}&q={{q}}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>

        {% else %}
        <section class="my-5 mx-4 mx-md-0">
            <p><b>There are no results matching “{{q}}”.</b></p>
            <p>Here are some suggestions to improve your search:</p>
            <ul>
            <li>Check your search for typos</li>
            <li>Try more generic terms</li>
            <li>Use different keywords</li>
            </ul>
        </section>
        {% endif %}

{% endblock %}