{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailuserbar %}
{% block title %}{{ page.title }}{% endblock %}


{% block content %}
{% wagtailuserbar %}

    <h1>{{ page.title }}</h1>

        <div class="d-flex">
            <h3 class="p-2">Sort by:</h3>
            <div class="p-2">
                <ul class="nav">
                    <li class="nav-item">
                    <a class="nav-link active" href="#">Release date</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Alphabetical</a>
                    </li>
                </ul>
            </div>
            <div class="ml-auto p-2">
                <a href="/index-listing/"><i class="fa fa-list" aria-hidden="true"></i> Textual index</a>
            </div>
        </div>


        {% if page.get_children %}
        <section class="container px-4 px-sm-3" id="portfolio-cards">
            <div class="row">
                {% for post in page.get_children %}
                    {% with post=post.specific %}
                <div class="col-md-6 col-lg-4">
                    <div class="card mb-4 border-0">
                        <a href="{% pageurl post %}">{% image post.thumbnail original class="card-img-top d-block rounded-0 img-fluid" aria-hidden="true" alt="" %}</a>
                        <div class="card-body px-0 px-sm-3">
                            <h5 class="card-title"><a href="{% pageurl post %}">{{post.title}}</a></h5>
                            <p class="card-text">Entry search description TBD</p>
                        </div>
                    </div>
                </div>
                    {% endwith %}
                 {% endfor %}
            </div>
        </section>
        {% endif %}

{% endblock %}