{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailuserbar %}
{% block title %}{{ page.title }}{% endblock %}


{% block content %}
{% wagtailuserbar %}

    <h1 class="page-title">{{ page.title }}</h1>

        <div class="d-flex flex-column flex-sm-row sort-menu">
            <div class="d-flex flex-column flex-sm-row">
            <h3>Sort by:</h3>
                <ul class="nav d-flex flex-column flex-sm-row">
                    <li class="nav-item
                    {% if sort == 'releasedate' %}
                    active
                    {% endif %}
                    ">
                    <a class="nav-link" href="/{{ page.slug }}/?sort=releasedate">Release date </a>
                    </li>
                    <li class="nav-item
                    {% if sort != 'releasedate' %}
                    active
                    {% endif %}
                    ">
                    <a class="nav-link" href="/{{ page.slug }}/?sort=alphabetical">Alphabetical</a>
                    </li>
                </ul>
            </div>
            <div class="ml-auto p-2 pt-3 pt-sm-2">
                <a href="/index-listing/" class="align-middle"><i class="fa fa-list" aria-hidden="true"></i> Textual index</a>
            </div>
        </div>


        {% if entries %}
        <section class="container px-4 px-sm-3 portfolio-cards">
            <div class="row">
                {% for post in entries %}
                    {% with post=post.specific %}
                <div class="col-md-6 col-lg-4">
                    <div class="card mb-4 border-0">
                        <a href="{% pageurl post %}">
                        {% if post.thumbnail %}
                        {% image post.thumbnail original class="entry-thumbnail card-img-top img-fluid" aria-hidden="true" alt="" %}
                        {% else %}
                        <img src="{{STATIC_URL}}img/og_ctlportfolio.png" class="entry-thumbnail card-img-top img-fluid" aria-hidden="true" alt="" />
                        {% endif %}
                        </a>
                        <div class="card-body px-0 py-3 px-sm-3">
                            <h5 class="card-title"><a href="{% pageurl post %}">{{post.title}}</a></h5>
                            <p class="card-text">Entry search description TBD</p>
                        </div>
                    </div>
                </div>
                    {% endwith %}
                 {% endfor %}
            </div>
        </section>

        <nav aria-label="Visual index navigation" >
            <ul class="pagination justify-content-center mb-0 mt-2 py-5">
                {% if entries.has_previous %}
                <li class="page-item">
                <a class="page-link" href="?sort={{ sort }}&page={{ entries.previous_page_number }}" tabindex="-1">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                {% endif %}
                {% for page_num in entries.paginator.page_range %}
                <li class="page-item {% if page_num == entries.number %} active{% endif %}"><a class="page-link" href="?sort={{ sort }}&page={{ page_num }}">{{ page_num }}</a></li>
                {% endfor %}
                {% if entries.has_next %}
                <li class="page-item">
                <a class="page-link" href="?sort={{ sort }}&page={{ entries.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>

        {% endif %}

{% endblock %}